.navbar {
    background-color: #f5f7fa;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    height: 12.5vh;
    transition: top 1s ease-in-out;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensures the navbar stays above other content */
}

.navbar.hidden {
    top: -12.5vh; /* Adjust this to the height of your navbar */
}


.navbar-brand img {
    height: 6.5vh;
    margin-left: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

.nav-link.active {
    font-weight: bold; /* Make active link bold */
    color: #022841; /* Change text color for active link */
}

nav ul li a {
    font-family: 'Infra', sans-serif;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.nav-link {
    color: #044464;
    text-decoration: none;
    transition: text-shadow 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Added transition for transform */
}

.nav-link:hover {
    color: #022841;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); /* Stronger shadow for more pop */
    font-weight: bold; /* Make the text bolder */
}
body {
    background-color: black;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 70px;
    margin: 0 10px;
}

.logo-container .ite-logo {
    height: 90px;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    width: 40px;
    height: 40px;
    background-color: black;
    color:white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#scrollToTopBtn:hover {
    background-color: var(--bg-btn-hover);
    transform: scale(1.1);
}

.banner {
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content */
    height: 87.5vh; /* Ensures the banner takes full height of the viewport */
    background-color: white;
    width: 100%;
}
.category-title {
    text-align: center;
    justify-content: center;
    margin-bottom: 75px;
}
.banner-content {
    text-align: center;
}

.banner.category {
    height: 70vh;
    background-color: black;
}

.banner-content img {
    height: 75vh;
}

.banner-text {
    font-family: 'Infra', sans-serif;
    color: #022841; /* Change text color to contrast with the background */
    max-width: 100vh; /* Optional: Set a max-width for the text */
    margin-left: 3rem;
}
.banner-text .title {
    font-size: 4rem;
}

.banner-description {
    font-size: 17px;
    color: #666;
    margin-bottom: 15px;
    flex-grow: 1;
    overflow: hidden;
}

.enroll-button {
    background-color: #0066cc; /* Use a color that matches your site's theme */
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.enroll-button:hover {
    background-color: #0052a3; /* Darker shade for hover effect */
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.category, .courses {
    margin-top: 10vh;
}

.category-title h5,
.category-title h2,
.category-title h5.card-description {
    margin-bottom: 20px; /* Adjust the value as needed */
}


.card {
    width: 400px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
}
.card-icon {
    font-size: 100px;
    margin-bottom: 20px;
}
.card-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #666;
    margin-bottom: 15px;
    flex-grow: 1;
    overflow: hidden;
    font-size: 20px;
}
.card-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 17px;
    flex-grow: 1;
    overflow: hidden;
}
.card-courses {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
}

.card-link {
    text-decoration: none; /* Removes default link underline */
    color: inherit; /* Inherits color from the parent element */
}

.card-link:hover .card {
    /* Add styles for when the card is hovered over */
    /* Example: */
    transform: scale(1.02); /* Slightly scales up the card */
    transition: transform 0.3s ease;
}


html {
    scroll-behavior: smooth;
}

#courses {
    scroll-margin-top: 20vh; /* Adjust this value to set how much space is above the target element */
}
#category {
    scroll-margin-top: 20vh; /* Adjust this value to set how much space is above the target element */
}


.online { background-color: #e6fff9; }
.non-degree { background-color: #ffe6e6; }
.off-campus { background-color: #e6e6ff; }
.hybrid { background-color: #fff9e6; }

.online .card-icon, .online .card-courses { color: #00c4a7; }
.non-degree .card-icon, .non-degree .card-courses { color: #ff7676; }
.off-campus .card-icon, .off-campus .card-courses { color: #7676ff; }
.hybrid .card-icon, .hybrid .card-courses { color: #ffc107; }